extends ../layouts/main

block content
  h1= title

  form(method="POST", action=`/admisiones/${admision.id}/asignar-cama`)
    .mb-3
      label.form-label(for="ala_id") Seleccione un ala
      select.form-control(name="ala_id", id="ala_id", required)
        option(value="") Seleccione un ala
        each ala in alas
          option(value=ala.id)= ala.nombre
    .mb-3
      label.form-label(for="cama_id") Seleccione una cama
      select.form-control(name="cama_id", id="cama_id", required)
        option(value="") Seleccione una cama
        each cama in camas
          option(value=cama.id selected=(camaSeleccionada && camaSeleccionada.id == cama.id)) Cama #{cama.numero} - Habitación #{cama.Habitacion.numero}
    button.btn.btn-primary(type="submit") Asignar